[run]
omit = 
    *ctypes*
    *flask*
    *flask_api*
    *jinja2*
    *werkzeug*
    *click*
    *markupsafe.py
    *markupsafe*
    *instance.py
    *bisect.py              
    *decimal.py 
    *encodings/latin_1.py
    *hmac.py
    *htmlentitydefs.py
    *httplib.py
    *mimetools.py
    *mimetypes.py
    *numbers.py
    *pydoc.py
    *rfc822.py
    *urllib2.py
    *uuid.py
    *itsdangerous.py
    *sqlalchemy*
    *bcrypt*
    *jwt*
    *psycopg2*
    *_LWPCookieJar.py
    *_MozillaCookieJar.py
    *cookielib.py
    *encodings/*
    *stringprep.py
    *sqlite3*